.DS_Store
./combine_pddl_clingcon.sh
./task1_run_clingcon_with_bound.sh
./task1_run_enhsp.sh
./task1_run_pps.sh
./task2_run_clingcon.sh
./task2_run_enhsp.sh
./task2_run_pps_asp.sh
./task2_run_pps_enhsp.sh
./enc_asp.lp
./enc_clingcon.lp
./enc_clingodl.lp
./instance_fixed.lp
./AS2Plan.py
./extract_instances.py
./run_experiments_clingcon.py
./pddl_encoding.pddl
./full_experiment_results_clingcon.csv
./multi-shot
./Test/
./Instancesv2/
./Instancesv2_round/
