.DS_Store
combine_pddl_clingcon.sh
task1_run_clingcon_with_bound.sh
task1_run_enhsp.sh
task1_run_pps.sh
task2_run_clingcon.sh
task2_run_enhsp.sh
task2_run_pps_asp.sh
task2_run_pps_enhsp.sh
enc_asp.lp
enc_clingodl.lp
AS2Plan.py
run_experiments_clingcon.py
pddl_encoding.pddl
full_experiment_results_clingcon.csv
multi-shot
heuristic/experiments/info.sh
heuristic/experiments/clean0.sh
heuristic/experiments/create_file.sh
heuristic/experiments/store/
heuristic/experiments/pddl_105/
heuristic/experiments/theory_delta/list0.sh
heuristic/experiments/theory_delta/see0.sh
heuristic/experiments/theory_delta/compare0.sh
heuristic/experiments/theory_delta/inst0.py 
heuristic/experiments/theory_delta/inst1.py 
heuristic/experiments/theory_delta/inst3.py
heuristic/experiments/inst14.sh
run.sh
heuristic/experiments/heu_volume/compare.sh
heuristic/experiments/heu_volume/list0.sh
heuristic/experiments/heu_volume/inst0.sh
heuristic/experiments/heu_volume/inst0.py
heuristic/experiments/heu_volume/inst1.py
heuristic/experiments/heu_volume/inst3.py
heuristic/experiments/heu_105/compare.sh
heuristic/experiments/heu_105/list0.sh
heuristic/experiments/heu_105/inst0.sh
heuristic/experiments/heu_105/inst4.sh
heuristic/experiments/heu_105/inst5.sh
heuristic/experiments/heu_105/inst0.py
heuristic/experiments/heu_105/inst1.py
heuristic/experiments/heu_105/inst3.py
heuristic/experiments/heu_105/inst6.py
heuristic/experiments/heu_105/inst7.py
heuristic/experiments/heu_105/cafe_conv0.sh
heuristic/experiments/pddl_cafe/compare.sh
heuristic/experiments/pddl_cafe/list0.sh
heuristic/experiments/pddl_cafe/inst0.sh
heuristic/experiments/pddl_cafe/rnd/inst0.sh
heuristic/experiments/pddl_cafe/sip/inst0.sh
heuristic/experiments/pddl_cafe/inst0.py
heuristic/experiments/pddl_cafe/inst1.py
heuristic/experiments/pddl_cafe/inst6.py
heuristic/experiments/pddl_combo/compare.sh
heuristic/experiments/pddl_combo/list0.sh
heuristic/experiments/pddl_combo/inst0.sh
heuristic/experiments/pddl_combo/rnd/inst0.sh
heuristic/experiments/pddl_combo/sip/inst0.sh
heuristic/experiments/pddl_combo/inst0.py
heuristic/experiments/pddl_combo/inst1.py
heuristic/experiments/pddl_combo/inst6.py
heuristic/experiments/pddl_minus/compare.sh
heuristic/experiments/pddl_minus/list0.sh
heuristic/experiments/pddl_minus/inst0.sh
heuristic/experiments/pddl_minus/rnd/inst0.sh
heuristic/experiments/pddl_minus/sip/inst0.sh
heuristic/experiments/pddl_minus/inst0.py
heuristic/experiments/pddl_minus/inst1.py
heuristic/experiments/pddl_minus/inst6.py
heuristic/experiments/pddl_70/compare.sh
heuristic/experiments/pddl_70/inst0.sh
heuristic/experiments/pddl_70/inst0.py
heuristic/experiments/pddl_70/inst1.py
heuristic/experiments/pddl_70/inst6.py
heuristic/experiments/heu_volume/print0.sh
heuristic/experiments/heu_volume/print1.sh
heuristic/experiments/heu_volume/print2.sh
./heuristic/experiments/pddl_70/
